.pagination-container {
  display: flex;
  justify-content: center;
  padding-bottom: 6.2rem;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.disabled-btn,
.pagination-btn {
  border: none;
  background: none;
  padding: 1.2rem;
  border-radius: 50%;
  border: 1px solid #115c68;
  background-color: #fff;
  transition: all 0.3s;
}

.pagination-btn {
  cursor: pointer;
}

.pagination-btn:hover {
  background-color: #115c68;
  color: #fff;
}

.disabled-btn ion-icon,
.pagination-btn ion-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.dots {
  font-size: 1.8rem;
  padding: 1.2rem;
  width: 3.6rem;
  height: 3.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-number,
.active-page {
  border: none;
  background: none;
  font-size: 1.8rem;
  cursor: pointer;
  padding: 1.2rem;
  border-radius: 50%;
  transition: all 0.3s;
  width: 3.6rem;
  height: 3.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-number:hover,
.active-page {
  background-color: #115c68;
  color: #fff;
}
